/**
 * Set up a decent box model on the root element
 */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent; }

p {
  font-size: 1.6rem; }

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Roboto", sans-serif;
  color: #222222;
  line-height: 1.7; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.header {
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.9)), url(../img/bg.jpg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed; }

.header {
  min-height: 100vh; }

.header__logo-box {
  display: inline-block;
  margin: 3rem; }

.header__logo-img {
  display: block;
  width: 7rem;
  height: auto;
  margin: 0 auto 0.5rem auto; }

.header__logo-text {
  font-size: 1.6rem;
  color: #002945; }

.header__content-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); }

.header__text-box {
  padding: 5rem; }

.header__text {
  margin-bottom: 3rem; }

.header__heading {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 200;
  line-height: initial; }

.header__3d-logo-box {
  padding: 5rem; }

.header__3d-logo {
  display: block;
  width: 35rem;
  height: auto;
  margin: 0 auto; }

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 1.3rem 4rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1.7rem;
  text-transform: uppercase; }

.btn--primary {
  background-color: #002945;
  color: white; }

.nav {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem; }

.nav__link {
  font-size: 1.6rem;
  margin: 0 1.7rem; }
