// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: #333;
  padding: 10rem 0 4rem 0;
  text-align: right;

  &__logo-box {
    text-align: left;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__nav {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300;

    border-top: 1px solid $color-white;
    padding-top: 1rem;

    li {
      list-style: none;
      display: inline-block;
    }

    li:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    padding: 1rem 2rem;
    transition: all 0.3s;

    &:link,
    &:visited {
      color: $color-light-grey;
    }

    &:hover,
    &:active {
      color: $color-tertiary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      transform: rotateX(10deg) scale(1.03);
    }
  }

  &__social-links {
    color: $color-white;
    text-align: right;

    li {
      display: inline-block;
      list-style: none;
    }

    li:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__social-link {
    display: inline-block;
    text-align: center;
    width: 5rem;
    max-height: 5rem;
    border-radius: 50%;
    font-size: 3rem;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &--facebook {
      background-color: #3b5998;
    }

    &--twitter {
      background-color: #00aced;
    }
  }

  &__texto {
    color: $color-light-grey;
    text-align: center;
    font-size: 1.3rem;
  }
}
