// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  background-image: linear-gradient(
      to bottom,
      rgba($color-white, 1),
      rgba($color-white, 0.4)
    ),
    url(../images/bg.jpg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;

  min-height: 100vh;

  &__top {
    height: $header-top-height;
    z-index: 999;
    padding: 0;
  }

  &__content {
    padding: 2% 0;
    text-align: center;
  }

  &__logo-box {
    display: inline-block;
    margin: 3rem;

    &--no-text {
      display: none;
    }
  }

  &__logo-img {
    display: block;
    width: 7rem;
    height: auto;
    margin: 0 auto 0.5rem auto;
  }

  &__logo-text {
    font-size: 1.6rem;
    color: $color-primary;
  }

  &__3d-logo {
    display: block;
    width: 75%;
    max-width: 40rem;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint-medium) {
  .header {
    &__content {
      padding: 2% 0;
      text-align: left;
    }
  }
}
