.nav {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  display: none;
  z-index: 999;

  &__link {
    font-size: 1.6rem;
    margin: 0 1.7rem;

    &:hover {
      padding-bottom: 0.5rem;
      color: lighten($text-color, 40%);
    }
  }

  &__assinar {
    margin: 0 1.7rem;
  }
}

@media screen and (min-width: 901px) {
  .nav {
    display: block;
  }
}
