// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: $btn-vert-padding $btn-horiz-padding;
  font-size: $btn-font-size;
  border-radius: 5rem;
  border: 1px solid transparent;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translate(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--small {
    padding: ($btn-vert-padding * 0.8) ($btn-horiz-padding * 0.7);
    font-size: $btn-font-size * 0.8;
  }

  &--large {
    padding: ($btn-vert-padding * 1.4) ($btn-horiz-padding * 1.6);
    font-size: $btn-font-size * 1.4;
  }

  &--block {
    display: block;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: lighten($color-primary, 5%);
    }
  }

  &--accent {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: lighten($color-accent, 5%);
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;

    &:hover {
      background-color: darken($color-white, 5%);
    }
  }
}
