.sobre-nos {
  padding: 15rem;

  &__titulo {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
  }

  &__texto {
    padding-left: 1rem;
    text-align: left;
  }

  &__image {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .sobre-nos {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .sobre-nos {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
