// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

p {
  font-size: 1.6rem;
}

@media (max-width: $breakpoint-small) {
  html {
    font-size: 53%;
  }
}

@media (max-width: $breakpoint-medium) {
  html {
    font-size: 57%;
  }
}

@media (min-width: $breakpoint-large) {
  html {
    font-size: 67%;
  }
}

@media (min-width: $breakpoint-extra-large) {
  html {
    font-size: 71%;
  }
}
