// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.u-center-block {
  display: block;
  margin: auto;
}

.u-text-center {
  text-align: center;
}

.u-full-height {
  height: 100%;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}
