/**
 * Basic typography style for copy text
 */

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  line-height: 1.7;
}

.section-title {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
