// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section-planos {
  margin-top: -7%;
  padding: 25rem 2rem 20rem 2rem;
  background-color: $color-light-grey;
  z-index: 0;
}

.section-servicos {
  margin-top: -7%;
  padding: 20rem 0;
  z-index: 5;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary, 0.8)
    ),
    url(../images/woman_happy.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-depoimentos {
  position: relative;
  padding: 15rem;
}

@media (max-width: $breakpoint-medium) {
  .section-depoimentos {
    padding: 15rem 5rem;
  }
}

.section-sobre-nos {
  padding: 0 0 20rem 0;
}

.section-contato {
  padding: 15rem;
}
